dist
dist-newstyle
.cabal*
*.wixobj
*.wixpdb
*.msi
\#*
\#.*
*~
~\$*
cabal.sandbox.config
.stack-work/
.vs
InnoSetup/
Installers/
demo-files/
demo-files-save/
Docker/local/
Docker/secret/
WindowsFiles/
attrib/msys2/
Packages/
hie.yaml
banana-ui/hie.yaml
