constraints: DRBG ==0.5.5,
             base ==4.9.1.0,
             ghc-prim ==0.5.0.0,
             rts ==1.0,
             integer-gmp ==1.0.0.1,
             bytestring ==0.10.8.1,
             deepseq ==1.4.2.0,
             array ==0.5.1.1,
             cereal ==0.5.5.0,
             containers ==0.5.7.1,
             cipher-aes128 ==0.7.0.3,
             crypto-api ==0.13.3,
             entropy ==0.4.1.1,
             unix ==2.7.2.1,
             time ==1.6.0.1,
             tagged ==0.8.5,
             template-haskell ==2.11.1.0,
             ghc-boot-th ==8.0.2,
             pretty ==1.1.3.3,
             transformers ==0.5.2.0,
             transformers-compat ==0.6.2,
             cryptohash-cryptoapi ==0.1.4,
             cryptonite ==0.25,
             basement ==0.0.7,
             memory ==0.14.16,
             foundation ==0.0.20,
             mtl ==2.2.2,
             parallel ==3.2.1.1,
             prettyclass ==1.0.0.0,
             aeson ==1.4.0.0,
             attoparsec ==0.13.2.2,
             scientific ==0.3.6.2,
             binary ==0.8.3.0,
             hashable ==1.2.7.0,
             text ==1.2.3.0,
             integer-logarithms ==1.0.2.1,
             primitive ==0.6.4.0,
             base-compat ==0.10.1,
             dlist ==0.8.0.4,
             th-abstraction ==0.2.7.0,
             time-locale-compat ==0.1.1.4,
             unordered-containers ==0.2.9.0,
             uuid-types ==1.0.3,
             random ==1.1,
             vector ==0.12.0.1,
             banana-ui-gtk ==0.5.2,
             colour ==2.3.4,
             gi-gdk ==3.0.16,
             gi-cairo ==1.0.17,
             haskell-gi ==0.21.3,
             Cabal ==1.24.2.0,
             directory ==1.3.0.0,
             filepath ==1.4.1.1,
             process ==1.4.3.0,
             haskell-gi-base ==0.21.1,
             pretty-show ==1.7,
             haskell-lexer ==1.0.1,
             regex-tdfa ==1.2.3.1,
             parsec ==3.1.13.0,
             regex-base ==0.93.2,
             safe ==0.3.17,
             xdg-basedir ==0.2.2,
             xml-conduit ==1.8.0,
             blaze-html ==0.9.1.1,
             blaze-builder ==0.4.1.0,
             blaze-markup ==0.8.2.1,
             conduit ==1.3.0.3,
             exceptions ==0.10.0,
             stm ==2.4.5.0,
             mono-traversable ==1.0.8.1,
             split ==0.2.3.3,
             vector-algorithms ==0.7.0.1,
             resourcet ==1.2.1,
             unliftio-core ==0.1.1.0,
             conduit-extra ==1.3.0,
             async ==2.2.1,
             network ==2.7.0.0,
             streaming-commons ==0.2.0.0,
             zlib ==0.6.2,
             typed-process ==0.2.2.0,
             data-default-class ==0.1.2.0,
             monad-control ==1.0.2.3,
             transformers-base ==0.4.5.2,
             base-orphans ==0.7,
             xml-types ==0.3.6,
             haskell-gi-overloading ==1.0,
             gi-gdkpixbuf ==2.0.16,
             gi-gio ==2.0.18,
             gi-glib ==2.0.16,
             gi-gobject ==2.0.16,
             gi-pango ==1.0.16,
             gi-gtk ==3.0.23,
             gi-atk ==2.0.15,
             gi-gtk-hs ==0.3.6.1,
             glib ==0.13.6.0,
             utf8-string ==1.0.1.1,
             lens ==4.16.1,
             bifunctors ==5.5.2,
             comonad ==5.0.3,
             contravariant ==1.4.1,
             StateVar ==1.1.1.0,
             distributive ==0.5.3,
             semigroups ==0.18.4,
             call-stack ==0.1.0,
             free ==5.0.2,
             profunctors ==5.2.2,
             semigroupoids ==5.2.2,
             kan-extensions ==5.1,
             adjunctions ==4.4,
             void ==0.7.2,
             fail ==4.9.0.0,
             reflection ==2.1.3,
             reactive-banana ==1.2.0.0,
             pqueue ==1.4.1.1,
             vault ==0.3.1.1,
             uuid ==1.3.13,
             cryptohash-md5 ==0.11.100.1,
             cryptohash-sha1 ==0.11.100.1,
             network-info ==0.2.0.10,
             cairo ==0.13.5.0,
             fgl ==5.6.0.0,
             gi-pangocairo ==1.0.17,
             largeword ==1.2.5,
             megaparsec ==6.5.0,
             case-insensitive ==1.2.0.11,
             parser-combinators ==1.0.0,
             naturalcomp ==0.0.3,
             pango ==0.13.5.0,
             temporary ==1.3,
             xml ==1.3.14,
             hjpath ==3.0.1,
             hjson ==1.3.2
